<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contentful Dictate</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <!-- Contentful's default styles -->
    <!-- todo: ditch bootstrap and use these:
    <link rel="stylesheet" href="https://contentful.github.io/ui-extensions-sdk/cf-extension.css">
    -->
</head>
<body>

<textarea class="form-control" rows="6"></textarea>
<button class="dictation-btn btn btn-primary"><i class="fa fa-microphone" aria-hidden="true"></i> &nbsp;<span>Start Dictation</span></button>


<script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
<script>
    var token = '<%= token %>';
</script>
<script src="/js/bundle.js"></script>
</body>
</html>
